<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="../../favicon.ico">

   <title>By its cover</title>

   <!-- Bootstrap core CSS -->
   <link href="../static/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="../static/css/starter-template.css" rel="stylesheet">

   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
 </head>

 <body>

   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">ByItsCover</a>
       </div>
       <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
           <li class="active"><a href="{{ url_for('about') }}">About</a></li>
           <li class="active"><a href="{{ url_for('contact') }}">Contact</a></li> 
           <li class="active"><a href="{{ url_for('slides') }}">Slides</a></li> 
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>

<br><br>


<div class="container">

    <div class="starter-template">
        <h2><br>About</h2> <br/>

        <div>
          <p>Have you ever wanted to sell your used books but don't have the time to look up the price you could get for each?</p>
          <p>Even if you only have a single book, looking up the title on eBay and finding the price based on book condition isn't very exciting...</p>
          <p>Someitimes it's okay to judge a book by its cover!</p>
          <p>Simply photograph your book, or bookshelf, and we will identify the books from the image using Computer Vision, and show you a list of prices 
              that the book is for sale on eBay.</p>
        </div>

    </div>




   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="static/js/bootstrap.min.js"></script>

   </body>
</html>

