<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="../../favicon.ico">

   <title>By its cover</title>

   <!-- Bootstrap core CSS -->
   <link href="../static/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="../static/css/starter-template.css" rel="stylesheet">

   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
   <style>
      img.faded {
        opacity: .5;
      }
  
      .spinner-on-click {
        position: relative;
      }
  
      .spinner {
        /* Spinner size and color */
        width: 20px;
        height: 20px;
        border-width: 3px;
        border-top-color: rgb(0, 60, 255);
        border-left-color: rgb(0, 60, 255);
  
        /* Additional spinner styles */
        animation: spinner 400ms linear infinite;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-style: solid;
        border-radius: 50%;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
      }
  
      .img-button > .spinner {
        width: 50px;
        height: 50px;
        border-width: 6px;
  
        position: absolute;
  
        left: 50%;
        margin-left: -25px;
        top: 50%;
        margin-top: -25px;
      }
  
      /* Animation styles */
      @keyframes spinner {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
     </style>
 </head>

 <body>

   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">ByItsCover</a>
       </div>
       <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
           <li  class="active"><a href="{{ url_for('about') }}">About</a></li>
           <li class="active"><a href="{{ url_for('contact') }}">Contact</a></li> 
           <li class="active"><a href="{{ url_for('slides') }}">Slides</a></li> 
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>

<br><br>


<div class="container">

    <div class="starter-template" style="padding: 50px; font-size: 20px">
        <h3><strong>Upload an image of your bookshelf here:</strong></h3>
        
        <form method=POST enctype=multipart/form-data action="{{ url_for('multiple_book_upload') }}">
          <input type=file name=image>
          Number of books: <input type="number" name="n_books"><br>
          <button class="spinner-on-click" type="submit"
          data-loading-text="<span class='spinner'/><span style='margin-left: 10px'>Finding price...</span>">
        Find the Price!
      </button>
          <p>Note: Images containing lots of books can be slow to process!</p>
        </form>

    </div>
    <div style="text-align: center; padding: 20px">

        <h3><strong>Or choose from one of these example images:</strong></h3>

        <div style="width: 100%; overflow: hidden;"></div>
          <div style="width: 600px; float: left; text-align: center;">
            <form action="{{ url_for('multiple_book_upload') }}" method=POST>
              <button name='example_1' class="spinner-on-click img-button"
                  data-loading-text="<span class='spinner'/><img class='faded' src= '../static/img/three_books.jpg' alt='Example Image 1' width='auto' height='300'/>">
                
              <img src= '../static/img/three_books.jpg' alt="Example Image 1" width="auto" height="300" />
              </button>
            </form>

          </div>
          <div style="margin-left: 620px; text-align: center;">
            <form action="{{ url_for('multiple_book_upload') }}" method=POST>
              <button name='example_2' class="spinner-on-click img-button"
              data-loading-text="<span class='spinner'/><img class='faded' src= '../static/img/bookshelf_small.jpg' alt='Example Image 1' width='auto' height='300'/>">

              <img src= '../static/img/bookshelf_small.jpg' alt="Example Image 2" width="auto" height="300" />
            </form>
          </button>
          </div>

        </div>

        <div style="padding: 50px; font-size: 20px">
          <p><strong>Tips for successful book idenfitication</strong></p>
          <li>Ensure image size is greater than 4 Mexapixels</li>
          <li>Photograph bookshelf directly from the side to avoid skew</li>
          <li>Push books tightly against each other so that their spines are all vertical and not leaning </li>
          <li>Take photograph in good lighting and avoid a camera glare in the image</li>
          <li>Ensure books are all facing the same way so that writing on some is not upside down</li>
          <li>Get as close to the books as possible to reduce a border around the books</li>
      
        </div>

    </div>




   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="static/js/bootstrap.min.js"></script>


<script src="static/js/bootstrap.min.js"></script>

    <script>
      $(function() {
        $('.spinner-on-click').click(function() {
          var $this = $(this);
          $this.button('loading');
        });
      });
    </script>

   </body>
</html>

