<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>By its cover</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ByItsCover</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li class="active">
            <a href="{{ url_for('about') }}">About</a>
          </li>
          <li class="active">
            <a href="{{ url_for('contact') }}">Contact</a>
          </li>
          <li class="active"><a href="{{ url_for('slides') }}">Slides</a></li> 
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <br>
  <br>


  <div class="container">

    <div class="starter-template" style="padding: 50px; text-align: center;">
      <h1 style="font-size: 50px;">Judging a book by its cover</h1>
      <h2>Photograph your book and we will find the sales price on ebay!</h2>
    </div>

    <div class="container">

      <div style="width: 100%; overflow: hidden; text-align: center; padding: 10px">
        <h3>Do you have one book or a shelf of books?</h3>
        <div style="width: 600px; float: left; text-align: center;">
          <a href="{{ url_for('single_book_input') }}">
            <button>
              <img src='../static/img/single_book.png' alt="Single Book" width="300" height="300" /> 
            </button>
          </a>
        </div>
        <div style="margin-left: 620px; text-align: center;">
          <a href="{{ url_for('multiple_book_input') }}">
            <button>
              <img src='../static/img/shelf.png' alt="Multiple Books" width="300" height="300" />
            </button>
          </a>
        </div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </div>
  <!-- /.container-->

  <!-- Bootstrap core JavaScript
   ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="static/js/bootstrap.min.js"></script>

</body>

</html>