<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>By Its Cover</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/starter-template.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ByItsCover</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="active">
            <a href="{{ url_for('about') }}">About</a>
          </li>
          <li class="active">
            <a href="{{ url_for('contact') }}">Contact</a>
          </li>
          <li class="active"><a href="{{ url_for('slides') }}">Slides</a></li> 
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <br>
  <br>

  <div class="container" style="padding: 50px; text-align: center;">
    <div class="starter-template; padding: 50px;">
      <h2>Results</h2>
    </div>
    <div style="padding: 50px;">
      <img src={{ user_image }} alt="Cannot display image" width=auto height="400">
    </div>
    <div style="padding: 30px;">
      <p class="lead"> {{intro}}</p>
    </div>

    <table class="table table-hover">
      <tr>
        <th style="text-align: center;">Title</th>
        <th>Brand New</th>
        <th>Like New</th>
        <th>Very Good</th>
        <th>Good</th>
        <th>Acceptable</th>
      </tr>
      {% for price in ebay_price %}
        <tr>
          <td>{{ price['Title'] }}</td>
          <td>{{ price['Brand New'] }}</td>
          <td>{{ price['Like New'] }}</td>
          <td>{{ price['Very Good']}}</td>
          <td> {{ price['Good'] }}</td>
          <td>{{ price['Acceptable'] }}</td>
        </tr>
      {% endfor %}
    </table>


  </div>
  <!-- /.container -->

  {% if missed|length != 0 %}
    <div style="text-align: center;">

    <div><p class="lead">We couldn't find these books. Could you please label them?</p></div>

      <form method=POST enctype=multipart/form-data action="{{ url_for('multiple_book_upload_secondary') }}">

        <table class="table table-hover">
          <tr>
            <th style="text-align: center;">Book Image</th>
            <th style="text-align: center;">Title</th>
          </tr>
          {% for rot_img in missed %}
            <tr>
              <td>
                <img src={{ rot_img['url'] }} alt="Cannot display image" width='400' height="auto">
              </td>
              <td>
                <input type="text" name="true_title">
                <br>
              </td>
            </tr>
          {% endfor %}
        </table>

        <input type="hidden" name="previous_books" value={{ ebay_price }}>
        <input type="hidden" name="previous_image" value={{ user_image }}>
        <input type="submit" value="Submit Titles">

      </form>

    </div>
  {% endif %}


  <!-- Bootstrap core JavaScript
   ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="static/js/bootstrap.min.js"></script>

</body>

</html>